absl-py==2.2.2
aiobotocore==2.5.2
aiohappyeyeballs==1.2.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
altair==4.2.0
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse
async-lru
atomicwrites
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach  
blinker  
bokeh  
boltons  
botocore  
Bottleneck  
Brotli  
cachetools  
certifi  
cffi  
chardet  
charset-normalizer  
click  
cloudpickle  
colorama  
colorcet  
comm  
conda  
conda-build  
conda-content-trust  
conda-libmamba-solver  
conda-pack  
conda-package-handling  
conda-repo-cli  
conda-token  
conda_index  
conda_package_streaming  
constantly  
contourpy  
cookiecutter  
cryptography  
cssselect  
cycler  
cytoolz  
dask  
dask-expr  
datashader  
debugpy  
decorator  
defusedxml  
diff-match-patch  
dill  
distributed  
distro  
docstring-to-markdown  
docutils  
et-xmlfile  
executing  
fastjsonschema  
filelock  
flake8  
Flask  
flask-cors  
flatbuffers  
fonttools  
frozendict  
frozenlist  
fsspec  
gast  
gensim  
gitdb  
GitPython  
google-pasta  
greenlet  
grpcio  
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.9.2
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
ml_dtypes==0.5.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
namex==0.0.9
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python==4.11.0.86
openpyxl
opt_einsum==3.4.0
optree==0.15.0
overrides
packaging
pandas
pandocfilters
aiofiles
alembic
anyio
argon2-cffi
asgiref
async-timeout
attrs
Babel
backcall
bleach
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
debugpy
decorator
defusedxml
dnspython
exceptiongroup
fastapi
fonttools
greenlet
h11
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
MarkupSafe
matplotlib
matplotlib-inline
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openai
packaging
pandas
pandocfilters
passlib
pickleshare
platformdirs
pluggy
psutil
psycopg2-binary
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-multipart
pythonnet
pytz
pywin32
pywinpty
pyyaml
pyzmq
requests
requests-toolbelt
rich
six
sniffio
sqlalchemy
stack-data
starlette
terminado
tinycss2
tqdm
traitlets
typing_extensions
uri-template
urllib3
wcwidth
webcolors
websockets
wheel
yarl
zipp
