absl-py==2.2.2
aiobotocore==2.5.2
aiohappyeyeballs==1.2.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
altair==4.2.0
anaconda-catalogs==1.0.3
anaconda-client==1.11.0
anaconda-cloud-auth==1.0.2
anaconda-navigator==2.3.1
anaconda-project==0.11.1
annotated-types==0.4.0
anyio==3.6.2
appdirs==1.4.4
archspec==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.13.3
astropy==5.1
astropy-iers-data==1.1.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==1.0.1
atomicwrites==1.4.0
attrs==22.2.0
Automat==20.2.0
autopep8==1.7.0
Babel==2.11.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==23.3.0
bleach==6.0.0
blinker==1.5
bokeh==3.1.1
boltons==21.0.0
botocore==1.29.50
Bottleneck==1.3.7
Brotli==1.0.9
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.0
comm==0.1.2
conda==23.1.0
conda-build==3.23.3
conda-content-trust==0.1.1
conda-libmamba-solver==0.3.0
conda-pack==0.7.0
conda-package-handling==2.0.2
conda-repo-cli==1.0.4
conda-token==0.4.0
conda_index==0.4.0
conda_package_streaming==0.7.0
constantly==15.1.0
contourpy==1.0.7
cookiecutter==2.1.1
cryptography==40.0.2
cssselect==1.1.0
cycler==0.11.0
cytoolz==0.12.0
dask==2023.5.0
dask-expr==2023.4.1
datashader==0.14.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.6
distributed==2023.5.1
distro==1.8.0
docstring-to-markdown==0.9.1
docutils==0.20.1
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.2
flake8==6.0.0
Flask==2.3.2
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.39.4
frozendict==2.3.7
frozenlist==1.3.3
fsspec==2023.5.0
gast==0.6.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.71.0
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.9.2
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
ml_dtypes==0.5.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
namex==0.0.9
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python==4.11.0.86
openpyxl
opt_einsum==3.4.0
optree==0.15.0
overrides
packaging
pandas
pandocfilters
aiofiles
alembic
anyio
argon2-cffi
asgiref
async-timeout
attrs
Babel
backcall
bleach
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
debugpy
decorator
defusedxml
dnspython
exceptiongroup
fastapi
fonttools
greenlet
h11
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab-pygments
MarkupSafe
matplotlib
matplotlib-inline
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openai
packaging
pandas
pandocfilters
passlib
pickleshare
platformdirs
pluggy
psutil
psycopg2-binary
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-multipart
pythonnet
pytz
pywin32
pywinpty
pyyaml
pyzmq
requests
requests-toolbelt
rich
six
sniffio
sqlalchemy
stack-data
starlette
terminado
tinycss2
tqdm
traitlets
typing_extensions
uri-template
urllib3
wcwidth
webcolors
websockets
wheel
yarl
zipp
